.menu-container__list, .reviews__stars, .reviews-list, .favorites__list, .offering-buttons, .offering-list, .header-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.menu-container__link, .offering-link, .header-nav__link {
  text-decoration: none;
}

.subscribtion, .reviews, .favorites, .offering, .hero, .header {
  margin-left: auto;
  margin-right: auto;
}

.subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (min-width: 480px) {
  .subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
    width: 480px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
    width: 1280px;
    padding: 0 16px;
  }
}

body {
  background-color: #ffffff;
  color: #2c2c2c;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.section-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .section-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.header {
  display: flex;
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .header-container {
    justify-content: space-between;
  }
}

.menu-toggle--open {
  min-height: 28px;
  min-width: 28px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  fill: #7EB101;
}
@media screen and (min-width: 768px) {
  .menu-toggle--open {
    display: none;
  }
}

.menu-toggle--open:focus {
  fill: #FFE550;
}

.header-nav {
  display: none;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 191px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 735px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 735px;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}
.header-nav__item:not(:last-child) {
  margin-right: 28px;
}
.header-nav__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  color: #2c2c2c;
}
.header-nav__link:hover, .header-nav__link:focus {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: #BBF330;
  text-decoration: underline;
}

.hero {
  padding: 50px 0 60px;
}
@media screen and (min-width: 768px) {
  .hero {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    padding: 159px 0 0;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 510px;
    background-image: url(../images/backgrounds/tab/rectangle1-tab-1x.jpeg);
    background-position: 0 361px;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/backgrounds/tab/rectangle1-tab-2x.jpeg);
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    min-width: 1280px;
    height: 633px;
    background-image: url(../images/backgrounds/desktop/rectangle1-desk-1x.jpeg);
    background-position: 0 447px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/backgrounds/desktop/rectangle1-desk-1x.jpeg);
  }
}
.hero__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  color: #2c2c2c;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.19;
    margin-bottom: 44px;
    width: 537px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    width: 502px;
  }
}
.hero__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    width: 502px;
  }
}

.order-button {
  color: #2c2c2c;
  border-style: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
.order-button--green {
  background-color: #BBF330;
}
.order-button--green:hover {
  background-color: #B5FF00;
}
.order-button--white {
  background-color: #ffffff;
  border: 2px solid #7EB101;
}
.order-button--white:hover {
  border: 2px solid #597D00;
}

.header-button {
  width: 98px;
  height: 32px;
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .header-button {
    display: none;
  }
}

.hero-button {
  width: 98px;
  height: 32px;
}

.subscribe-button {
  width: 103px;
  height: 42px;
  color: #2c2c2c;
  border-style: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
.subscribe-button--green {
  background-color: #BBF330;
}
.subscribe-button--green:hover {
  background-color: #B5FF00;
}
.subscribe-button--white {
  background-color: #ffffff;
  border: 1px solid #7EB101;
}
.subscribe-button--white:hover {
  background-color: #FFE550;
  border: 1px solid #7EB101;
}

.offering {
  padding: 74px 0 100px;
  height: 638px;
}
@media screen and (min-width: 1280px) {
  .offering-container {
    padding-left: 640px;
  }
}
.offering-title {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering-title {
    width: 526px;
    margin-bottom: 20px;
  }
}
.offering-subtitle {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering-subtitle {
    width: 500px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .offering-list {
    display: flex;
    width: 620px;
    gap: 116px;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .offering-list {
    width: 573px;
    gap: 67px;
  }
}
.offering-list__item:first-child {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering-list__item:first-child {
    margin-bottom: 40px;
  }
}
@media screen and (min-width: 1280px) {
  .offering-list__item:first-child {
    margin-bottom: 32px;
  }
}
.offering-list__item:last-child {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering-list__item:last-child {
    margin-bottom: 0;
  }
}
.offering-list__icon {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.offering-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 16px;
}
.offering-list__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
}
.offering-buttons {
  display: flex;
}

.offering-button {
  width: 106px;
  height: 40px;
}

.offering-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #2c2c2c;
  text-decoration: none;
}

.offering-buttons__item {
  display: flex;
  align-items: center;
}
.offering-buttons__item:last-child {
  margin-left: 24px;
}

.offering-buttons__item:last-child::after {
  display: flex;
  content: "";
  width: 14px;
  height: 14px;
  background-color: transparent;
  background-image: url(../images/svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  margin-left: 4px;
}

.favorites {
  max-width: 480px;
  padding: 60px 0;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .favorites {
    max-width: 768px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites {
    max-width: 1280px;
  }
}
.favorites-container {
  text-align: center;
}
.favorites-title {
  margin-bottom: 20px;
}
.favorites-subtitle {
  margin-bottom: 60px;
}

.favorites__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .favorites__list {
    gap: 32;
  }
}

@media screen and (max-width: 767px) {
  .favorites__item:nth-last-child(-n+3) {
    display: none;
  }
}
.favorites__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  border: 14px solid #FFE550;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .favorites__item {
    width: calc((100% - 32px) / 2);
    height: 338px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites__item {
    width: calc((100% - 64px) / 3);
    height: 397px;
  }
}

.favorites__link {
  width: 223px;
}
@media screen and (min-width: 768px) {
  .favorites__link {
    width: 267px;
  }
}
@media screen and (min-width: 1280px) {
  .favorites__link {
    width: 315px;
  }
}

.reviews {
  position: relative;
  padding: 60px 0 60px;
  background-image: url(../images/backgrounds/mobile/rectangle2-mob-1x.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .reviews {
    padding: 60px 0 120px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    padding: 100px 0 255px;
    height: 652px;
  }
}
.reviews-title {
  margin-bottom: 20px;
}
.reviews-subtitle {
  margin-bottom: 32px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews {
    background-image: url(../images/backgrounds/mobile/rectangle2-mob-1x.jpeg);
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    background-image: url(../images/backgrounds/tab/rectangle2-tab-1x.jpeg);
    background-position: bottom center;
    background-repeat: no-repeat;
    max-width: 768px;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url(../images/backgrounds/tab/rectangle2-tab-2x.jpeg);
  }
}
@media screen and (min-width: 1280px) {
  .reviews {
    background-image: url(../images/backgrounds/desktop/rectangle2-desk-1x.jpeg);
    background-position: top center;
    background-repeat: no-repeat;
    max-width: 1280px;
  }
}
@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url(../images/backgrounds/desktop/rectangle2-desk-2x.jpeg);
  }
}

.reviews-list {
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .reviews-list {
    flex-direction: column;
    gap: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .reviews-list {
    max-width: 1141px;
    gap: 139px;
  }
}
.reviews-list__item {
  background-color: #ffffff;
  padding: 8px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media screen and (min-width: 768px) {
  .reviews-list__item {
    padding: 12px;
  }
}
.reviews-list__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .reviews-list__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.customer {
  display: flex;
  align-items: center;
}
.customer__photo {
  margin-right: 16px;
}
.customer__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.customer__smth {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.reviews__stars {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 28px;
}
.reviews__stars__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-green-line {
  width: 1px;
  height: 52px;
  background-color: #7EB101;
  margin-left: 15px;
}

.review__picture {
  position: absolute;
}
@media screen and (max-width: 767px) {
  .review__picture {
    bottom: 0;
    left: 21%;
    width: 57%;
    transform: translateY(50%);
  }
}
@media screen and (min-width: 768px) {
  .review__picture {
    max-width: 281px;
    right: 32px;
    bottom: 0;
    transform: translateY(45%);
  }
}
@media screen and (min-width: 1280px) {
  .review__picture {
    min-width: 605px;
    bottom: -60px;
    right: 0;
  }
}

.subscribtion {
  padding: 52px 0 60px;
}
@media screen and (min-width: 768px) {
  .subscribtion {
    padding: 80px 0 100px;
  }
}
.subscribtion-title {
  margin-bottom: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .subscribtion-title {
    margin-top: 82px;
  }
}
@media screen and (min-width: 768px) {
  .subscribtion-title {
    margin-top: 0;
  }
}
.subscribtion-subtitle {
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .subscribtion-subtitle {
    width: 656px;
    margin-bottom: 24px;
  }
}

.subscription-form {
  display: block;
  text-align: right;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscription-form {
    display: flex;
  }
}
.subscription-form__field {
  position: relative;
}
.subscription-form__input {
  width: 100%;
  height: 42px;
  background-color: transparent;
  border: 1px solid #FFE550;
  border-radius: 30px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscription-form__input {
    width: 394px;
    margin-right: 22px;
    margin-bottom: 0;
  }
}
.subscription-form__label {
  position: absolute;
  top: 0;
  left: 12px;
  color: #505050;
}
@media screen and (min-width: 768px) {
  .subscription-form__label {
    top: 50%;
    transform: translateY(-50%);
  }
}

.menu-container {
  position: absolute;
  top: 50px;
  right: 20px;
  opacity: 0;
}
.menu-container.is-open {
  opacity: 1;
}
.menu-container__item {
  width: 130px;
  height: 51px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.17;
  padding: 16px 0 16px 16px;
  background-color: #ffffff;
}
.menu-container__item:first-child {
  border-top-left-radius: 30px;
}
.menu-container__item:last-child {
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
.menu-container__link {
  color: #2c2c2c;
}

.menu-container__link:focus .menu-container__item {
  background-color: #BBF330;
}

.menu-toggle--close {
  position: absolute;
  top: 4px;
  right: 4px;
  min-height: 24px;
  min-width: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
}/*# sourceMappingURL=main.css.map */