.reviews__stars, .reviews-list, .favorite-dishes__list, .offering-buttons, .offering-list, .header-nav {
  padding: 0;
  margin: 0;
  list-style: none;
}

.offering-link, .header-nav__link {
  text-decoration: none;
}

.subscribtion, .reviews, .favorites, .offering, .hero, .header {
  margin-left: auto;
  margin-right: auto;
}

.subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
  margin: 0 auto;
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
    width: 100%;
    padding: 0 20px;
  }
}
@media screen and (min-width: 480px) {
  .subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
    width: 480px;
    padding: 0 20px;
  }
}
@media screen and (min-width: 768px) {
  .subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
    width: 768px;
    padding: 0 32px;
  }
}
@media screen and (min-width: 1280px) {
  .subscribtion-container, .reviews-container, .favorites-container, .offering-container, .hero__container, .header-container {
    width: 1280px;
    padding: 0 16px;
  }
}

body {
  background-color: #ffffff;
  color: #2c2c2c;
  font-family: "roboto", sans-serif;
  font-size: 14px;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .section-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.16;
  }
}
@media screen and (min-width: 1280px) {
  .section-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.section-subtitle {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .section-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.18;
  }
}
@media screen and (min-width: 1280px) {
  .section-subtitle {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }
}

.header {
  display: flex;
  height: 72px;
  background-color: #ffffff;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}
.header-container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 479px) {
  .header-container {
    justify-content: space-between;
  }
}

.menu-toggle {
  min-height: 28px;
  min-width: 28px;
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  padding: 10px 0;
}
@media screen and (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}

.header-nav {
  display: flex;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-right: 191px;
  }
}
@media screen and (min-width: 1280px) {
  .logo {
    margin-right: 735px;
  }
}

@media screen and (max-width: 767px) {
  .header-nav {
    display: none;
  }
}
.header-nav__item:not(:last-child) {
  margin-right: 28px;
}
.header-nav__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  color: #2c2c2c;
}
.header-nav__link:hover, .header-nav__link:focus {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.17;
  color: #BBF330;
  text-decoration: underline;
}

.hero {
  padding: 60px 0;
}
@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    height: 510px;
    background-image: url(../images/backgrounds/tab/rectangle1-tab-1x.webp);
    background-size: cover;
    background-position: top 361px center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: url(../images/backgrounds/tab/rectangle1-tab-2x.webp);
  }
}
.hero__title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.17;
  color: #2c2c2c;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.19;
    margin-bottom: 28px;
    width: 537px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__title {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    width: 502px;
  }
}
.hero__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .hero__text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 40px;
    width: 336px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__text {
    width: 502px;
  }
}

.order-button {
  color: #2c2c2c;
  border-style: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
.order-button--green {
  background-color: #BBF330;
}
.order-button--green:hover {
  background-color: #B5FF00;
}
.order-button--white {
  background-color: #ffffff;
  border: 2px solid #7EB101;
}
.order-button--white:hover {
  border: 2px solid #597D00;
}

.header-button {
  width: 98px;
  height: 32px;
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .header-button {
    display: none;
  }
}

.hero-button {
  width: 98px;
  height: 32px;
}

.subscribe-button {
  width: 103px;
  height: 42px;
  color: #2c2c2c;
  border-style: none;
  border-radius: 30px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.5;
}
.subscribe-button--green {
  background-color: #BBF330;
}
.subscribe-button--green:hover {
  background-color: #B5FF00;
}
.subscribe-button--white {
  background-color: #ffffff;
  border: 1px solid #7EB101;
}
.subscribe-button--white:hover {
  background-color: #FFE550;
  border: 1px solid #7EB101;
}

.offering {
  padding: 41px 0 60px;
  background-image: url(../../images/backgrounds/mobile/rectangle-1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 480px;
}
@media screen and (min-width: 768px) {
  .offering {
    padding: 0 0 60px;
  }
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .offering {
    background-image: url(../../images/backgrounds/mobile/rectangle-2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .offering {
    background-image: none;
    max-width: 768px;
    background-color: #FFE550;
  }
}
.offering__picture {
  margin-bottom: 60px;
}
.offering-title {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering-title {
    width: 526px;
    margin-bottom: 20px;
  }
}
.offering-subtitle {
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering-subtitle {
    width: 500px;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) {
  .offering-list {
    display: flex;
    gap: 116px;
  }
}
.offering-list__item:last-child {
  margin-right: 84px;
}
.offering-list__icon {
  display: flex;
  width: 48px;
  height: 48px;
  background-color: #ffffff;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-bottom: 8px;
}
.offering-list__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.16;
  margin-bottom: 16px;
}
.offering-list__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.17;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .offering-list__text {
    margin-bottom: 40px;
  }
}

.offering-buttons {
  display: flex;
}

.offering-button {
  width: 106px;
  height: 40px;
}

.offering-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #2c2c2c;
  text-decoration: none;
}

.offering-buttons__item {
  display: flex;
  align-items: center;
}
.offering-buttons__item:last-child {
  margin-left: 24px;
}

.offering-buttons__item:last-child::after {
  display: flex;
  content: "";
  width: 14px;
  height: 14px;
  background-color: transparent;
  background-image: url(../images/svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  margin-left: 4px;
}

.favorites {
  max-width: 480px;
  padding: 60px 0;
  background-color: #ffffff;
}
@media screen and (min-width: 768px) {
  .favorites {
    max-width: 768px;
  }
}
.favorites-container {
  text-align: center;
}
.favorites-title {
  margin-bottom: 20px;
}
.favorites-subtitle {
  margin-bottom: 60px;
}

.favorite-dishes__list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
@media screen and (min-width: 768px) {
  .favorite-dishes__list {
    gap: 32;
  }
}

@media screen and (max-width: 767px) {
  .favorite-dishes__item:nth-last-child(-n+3) {
    display: none;
  }
}
.reviews {
  position: relative;
  max-width: 480px;
  padding: 60px 0 60px;
  background-image: url(../images/backgrounds/mobile/rectangle701-1x.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
}
.reviews * {
  outline: 1px solid red;
}
@media screen and (min-width: 768px) {
  .reviews {
    max-width: 768px;
    height: 544px;
  }
}
.reviews-title {
  margin-bottom: 20px;
}
.reviews-subtitle {
  margin-bottom: 32px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .reviews {
    background-image: url(../images/backgrounds/mobile/rectangle701-2x.webp);
  }
}
@media screen and (min-width: 768px) {
  .reviews {
    background-image: url(../images/backgrounds/tab/rectangle2-tab-1x.webp);
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .reviews {
    background-image: url(../images/backgrounds/tab/rectangle2-tab-2x.webp);
  }
}

.reviews-list {
  display: flex;
  gap: 32px;
}
@media screen and (max-width: 767px) {
  .reviews-list {
    flex-direction: column;
    gap: 24px;
  }
}
.reviews-list__item {
  background-color: #ffffff;
  padding: 8px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
@media screen and (min-width: 768px) {
  .reviews-list__item {
    padding: 12px;
  }
}
.reviews-list__text {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.17;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .reviews-list__text {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
  }
}

.customer {
  display: flex;
  align-items: center;
}
.customer__photo {
  margin-right: 16px;
}
.customer__name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.customer__smth {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
}

.reviews__stars {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 28px;
}
.reviews__stars__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-green-line {
  width: 1px;
  height: 52px;
  background-color: #7EB101;
  margin-left: 15px;
}

.review__picture {
  position: absolute;
  transform: translateY(50%);
}
@media screen and (max-width: 767px) {
  .review__picture {
    bottom: 0;
    left: 21%;
    width: 57%;
  }
}
@media screen and (min-width: 768px) {
  .review__picture {
    max-width: 281px;
    right: 32px;
    bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .review__picture {
    width: 608px;
  }
}

.subscribtion {
  max-width: 480px;
  padding: 0 0 60px;
}
@media screen and (min-width: 768px) {
  .subscribtion {
    max-width: 768px;
  }
}
.subscribtion-title {
  margin-bottom: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .subscribtion-title {
    margin-top: 82px;
  }
}
.subscribtion-subtitle {
  margin-bottom: 49px;
}

.subscription-form {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .subscription-form {
    display: flex;
  }
}
.subscription-form__field {
  position: relative;
}
.subscription-form__input {
  width: 100%;
  height: 42px;
  background-color: transparent;
  border: 1px solid #FFE550;
  border-radius: 30px;
  margin-bottom: 20px;
}
.subscription-form__label {
  position: absolute;
  top: 0;
  left: 11px;
  top: 50%;
  color: #505050;
  transform: translate(0, -50%);
}

.subscription-form__button-box {
  display: flex;
  justify-content: flex-end;
}

.subscribe-button {
  margin: 0 0 auto;
  justify-content: flex-end;
}/*# sourceMappingURL=main.css.map */