body {
  background-color: $primaryWhiteColor;
  color: $primaryTextColor;
  font-family: 'roboto', sans-serif;
  font-size: 14px;
}

.no-scroll {
  overflow: hidden;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

p {
  margin-top: 0;
  margin-bottom: 0;
}


.section-title {

    @include font (28px, 700, 1.17);

    @include tablet {
      @include font (42px, 700, 1.16);
    }

    @include desktop {
      @include font (42px, 700, 1.19);
    }
}

.section-subtitle {

    @include font (14px, 400, 1.17);

    @include tablet {
      @include font (16px, 400, 1.18);
    }

    @include desktop {
      @include font (16px, 400, 1.5);
    }
}

