.header {
  @extend %section;
  display: flex;
  height: 72px;
  background-color: $primaryWhiteColor;
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

  &-container {
    @extend %container;
    display: flex;
    align-items: center;
    @media screen and (max-width:479px) {
      justify-content: space-between;
    }

  


  }
}

.menu-toggle {
  @include tablet {
    display: none;
  }
  min-height: 28px;
  min-width: 28px;
  display: flex;
  align-items: center;

  padding: 10px 0;

  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;

  padding: 10px 0;
}

.header-nav {
  display: flex;
}


