$primaryWhiteColor: #ffffff;
$primaryTextColor: #2c2c2c;
$AccentColor: #BBF330;
$AccentHoverColor: #B5FF00;
$darkGreenColor: #7EB101;
$DarkGreenHoverColor: #597D00;
$SecondaryBackgroundYellow: #FFE550;