.favorites {
  @extend %section;

  max-width: 480px;
  padding: 60px 0;
  background-color: $primaryWhiteColor;

  @include tablet {
    max-width: 768px;
  }

  &-container {
    @extend %container;
    text-align: center;
  }

  &-title {
    margin-bottom: 20px;
  }

  &-subtitle {
    margin-bottom: 60px;
  }
}

.favorite-dishes__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  @include tablet {
    gap: 32;
  }
}

@media screen and (max-width: 767px) {
  .favorite-dishes__item:nth-last-child(-n + 3) {
    display: none;
    width: 100%;
  }
}

.favorite-dishes__item {
  border: 14px solid $SecondaryBackgroundYellow;
  border-radius: 50%;
}
