.favorites {
  @extend %section;

  max-width: 480px;
  padding: 60px 0;
  background-color: $primaryWhiteColor;

  @include tablet {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1280px;
  }

  &-container {
    @extend %container;
    text-align: center;
  }

  &-title {
    margin-bottom: 20px;
  }

  &-subtitle {
    margin-bottom: 60px;
  }

}

.favorites__list {
  @extend %list;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  @include tablet {
    gap: 32;
  }
}

@media screen and (max-width: 767px) {
  .favorites__item:nth-last-child(-n + 3) {
    display: none;
  }
}

.favorites__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 280px;
  border: 14px solid $SecondaryBackgroundYellow;
  border-radius: 50%;
  
  @include tablet {
    width:calc((100% - 32px) / 2);
    height: 338px;
  }
  @include desktop {
    width: calc((100% - 64px) / 3);
    height: 397px;
  }
  
}

.favorites__link {
  width: 223px;

@include tablet {
 width: 267px;
}

@include desktop {
  width: 315px;
}
}

