.hero {
  @extend %section;
  padding: 50px 0 110px;

  background-image: url(../images/backgrounds/back1-mob-1x.jpg);
  @include retina {
    background-image: url(../../images/backgrounds/back1-mob-2x.jpg);
  }
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  max-width: 480px;

  

  @include tablet {
    padding: 60px 0;

    max-width: 768px;
    height: 510px;
    background-image: url(../images/backgrounds/back1-tab-1x.jpg);
    @include retina {
      background-image: url(../images/backgrounds/back1-tab-2x.jpg);
    }
    background-position: bottom;
    background-repeat: no-repeat;
  }

  @include desktop {
    padding: 159px 0 0;
    min-width: 1280px;
    height: 633px;
    background-image: url(../images/backgrounds/back1-desk-1x.jpg);
    @include retina {
      background-image: url(../images/backgrounds/back1-desk-2x.jpg);
    }

    background-position: bottom;
    background-repeat: no-repeat;
  }

  


  


  &__container {
    @extend %container;
  }

  &__title {
    @include font(28px, 700, 1.17);
    color: $primaryTextColor;
    margin-bottom: 28px;

    @include tablet {
      @include font(42px, 700, 1.19);
      margin-bottom: 44px;
      width: 537px;
    }

    @include desktop {
      @include font(48px, 700, 1.2);
      width: 502px;
    }
  }

  &__text {
    @include font(14px, 400, 1.5);
    margin-bottom: 28px;

    @include tablet {
      @include font(16px, 400, 1.5);
      margin-bottom: 40px;
      width: 336px;
    }

    @include desktop {

      width: 502px;
    }
  }
}


