.offering {
  @extend %section;
  margin: 0 auto;
  background-color: $SecondaryBackgroundYellow;
  max-width: 480px;
  padding-bottom: 60px;

  @include tablet {
    max-width: 768px;
    padding-bottom: 100px;
  }

  @include desktop {
    position: relative;
    max-width: 1280px;
    padding: 100px 0;
  }

  &-container {
    @extend %container;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    @include desktop {
      display: flex;
    }
  
  }

  .offering__picture {
    display: none;
  }

  .offering__data {
    @include desktop {
      margin-left: 656px;
    }
  }

  .offering__picture--mob {
   
    @media screen and (max-width: 767px) {
      display: block;
    }
    margin-bottom: 60px;
  }

  .offering__picture--tab {
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      display: block;
    }
    margin-bottom: 60px;
  }

  .offering__picture--desk {
    position: absolute;
    top: 0;
    left: 16px;
    @include desktop {
      display: block;
    }
  }




  // background-image: url(../images/fruits/apple-mob-1x.png),
  //   url(../images/backgrounds/mobile/rectangle-1x.jpeg);
  // @include retina {
  //   background-image: url(../images/fruits/apple-mob-2x.png),
  //     url(../images/backgrounds/mobile/rectangle-2x.jpeg);
  // }

  // background-repeat: no-repeat;
  // background-size: 280px, cover;
  // background-position: top 41px center, top center;
  // max-width: 480px;

  // @include tablet {
  //   padding: 458px 0 60px;
  //   background-color: $SecondaryBackgroundYellow;

  //   max-width: 768px;
  //   background-image: url(../images/fruits/3apples-tab-1x.png);
  //   @include retina {
  //     background-image: url(../images/fruits/3apples-tab-2x.png);
  //   }
  //   background-repeat: no-repeat;
  //   background-size: 704px;
  //   background-position: top center;
  // }

  // @include desktop {
  //   padding: 74px 0 100px 0;
  //   max-width: 1280px;
  //   background-image: url(../images/fruits/apple-desk-1x.png);
  //   @include retina {
  //     background-image: url(../images/fruits/apple-desk-2x.png);
  //   }
  //   background-repeat: no-repeat;
  //   background-size: 550px;
  //   background-position: top -12px left 16px;
  // }

  

  &-title {
    margin-bottom: 28px;
    @include tablet {
      width: 526px;
      margin-bottom: 20px;
    }
  }

  &-subtitle {
    margin-bottom: 28px;
    @include tablet {
      width: 500px;
      margin-bottom: 40px;
    }
  }
}

.offering-list {
  @extend %list;

  @include tablet {
    display: flex;
    width: 620px;
    gap: 116px;
    @include desktop {
      width: 573px;
      gap: 67px;
    }
  }

  &__item:first-child {
    margin-bottom: 28px;
    @include tablet {
      margin-bottom: 40px;
    }
    @include desktop {
      margin-bottom: 32px;
    }
  }

  &__item:last-child {
    margin-bottom: 28px;
    @include tablet {
      margin-bottom: 0;
    }
  }

  &__icon {
    display: flex;
    width: 48px;
    height: 48px;
    background-color: $primaryWhiteColor;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__title {
    @include font(18px, 700, 1.16);
    margin-bottom: 16px;
  }

  &__text {
    @include font(14px, 400, 1.17);

    @include tablet {
      // margin-bottom: 40px;
    }
  }
}

.offering-buttons {
  @extend %list;
  display: flex;
}

.offering-button {
  width: 106px;
  height: 40px;
}

.offering-link {
  @extend %link;
  @include font(14px, 400, 1.4);
  color: $primaryTextColor;
  text-decoration: none;
}

.offering-buttons__item {
  display: flex;
  align-items: center;

  &:last-child {
    margin-left: 24px;
  }
}

.offering-buttons__item:last-child::after {
  display: flex;
  content: "";
  width: 14px;
  height: 14px;
  background-color: transparent;
  background-image: url(../images/svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  margin-left: 4px;
}
