.offering {
  @extend %section;
  padding: 410px 0 60px;

  background-image: url(../images/fruits/apple-mob-1x.png),
    url(../images/backgrounds/mobile/rectangle-1x.jpeg);
  @include retina {
    background-image: url(../images/fruits/apple-mob-2x.png),
      url(../images/backgrounds/mobile/rectangle-2x.jpeg);
  }

  background-repeat: no-repeat;
  background-size: 280px, cover;
  background-position: top 41px center, top center;
  max-width: 480px;

  @include tablet {
    padding: 458px 0 60px;
    background-color: $SecondaryBackgroundYellow;
  
    max-width: 768px;
    background-image: url(../images/fruits/3apples-tab-1x.png);
    @include retina {
      background-image: url(../images/fruits/3apples-tab-2x.png);
    }
    background-repeat: no-repeat;
    background-size: 704px;
    background-position: top center;
  }

  @include desktop {
    padding: 74px 0 100px 0;
    max-width: 1280px;
    background-image: url(../images/fruits/apple-desk-1x.png);
    @include retina {
      background-image: url(../images/fruits/apple-desk-2x.png);
    }
    background-repeat: no-repeat;
    background-size: 550px;
    background-position: top -12px left 16px;

  }

  &-container {
    @extend %container;
    @include desktop {
      padding-left: 640px;
    }
  }

  &-title {
    margin-bottom: 28px;
    @include tablet {
      width: 526px;
      margin-bottom: 20px;
    }
  }

  &-subtitle {
    margin-bottom: 28px;
    @include tablet {
      width: 500px;
      margin-bottom: 40px;
    }
  }
}

.offering-list {
  @extend %list;
  

  @include tablet {
    display: flex;
    width: 620px;
    gap: 116px;
    @include desktop {
      width: 573px;
      gap: 67px;
    }
  }

  &__item:last-child {
    margin-bottom: 28px;
    @include tablet {
      margin-right: 0;
      margin-bottom: 40px;
    }
    @include desktop {
      margin-bottom: 32px;
    }
  }

  &__icon {
    display: flex;
    width: 48px;
    height: 48px;
    background-color: $primaryWhiteColor;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }

  &__title {
    @include font(18px, 700, 1.16);
    margin-bottom: 16px;
  }

  &__text {
    @include font(14px, 400, 1.17);
    // margin-bottom: 28px;

    @include tablet {
      // margin-bottom: 40px;
    }

  }
}

.offering-buttons {
  @extend %list;
  display: flex;
}

.offering-button {
  width: 106px;
  height: 40px;
}

.offering-link {
  @extend %link;
  @include font(14px, 400, 1.4);
  color: $primaryTextColor;
  text-decoration: none;
}

.offering-buttons__item {
  display: flex;
  align-items: center;

  &:last-child {
    margin-left: 24px;
  }
}

.offering-buttons__item:last-child::after {
  display: flex;
  content: "";
  width: 14px;
  height: 14px;
  background-color: transparent;
  background-image: url(../images/svg/arrow.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  align-items: center;
  margin-left: 4px;
}

